# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven target directory
target/

# Gradle build directories
.gradle/
build/

# IntelliJ IDEA project files
.idea/
*.iml
*.iws

# Eclipse project files
.project
.classpath
.settings/

# Visual code
settings.json